@charset "UTF-8";

/* SpryTooltip.css - version 0.2 - Spry Pre-Release 1.6.1 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/* HACK FOR IE: to make sure the tooltips show above form controls, we underlay each tooltip with an iframe */
.iframeTooltip
{
	position: absolute;
	z-index: 1010;


	filter:alpha(opacity:0.1);
}

.tooltipContent
{
	background-color: #95D870;
	border: 2px dotted #5DA038;
	padding: 5px;
}
