@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #717172;
	line-height: 130%;
	background: url(images/bg-body.png);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #000;
}
#container {
	width: 940px;
	margin: 40px auto;
}
h1 span { /*Steven Barrett Logo located  in  index.html*/
	display: none;
	text-decoration: none;
}
#header, #header a:hover, #header a:focus {
	height: 70px;
	border: 0;
	border-bottom: 1px;
}
#header img {
	margin: -24px 0 0 -4px;
	border: 0;
}
#navigation {
	height: 34px;
	/* [disabled]background: url(images/bg-navigation.gif); */
	padding-left: 85px;
	line-height: 20px;
	overflow: hidden;
	list-style-type: none;
}
#navigation li {
	float: left;
	list-style-type: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}
#navigation-items li a {
	color: #D8D0CC;
	padding: 20px;
}
#navigation-items li a:hover, #navigation-items li a:focus {
	color: #323334;
	padding: 1px 20px;
	background-color: #968e8d;
	border-bottom: 2px solid #F9F2CF;
	text-decoration: none;
}
#banner {
	background: url(images/bg-middle.gif);
	padding-left: 40px;
	overflow: hidden;
	height: 200px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
#chair {
	width: 500px;
	background: url(images/chair.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 200px;
	-webkit-box-shadow: 1px 1px 5px #666;
	-moz-box-shadow: 1px 1px 5px #666;
}
#validator p a img {
	text-decoration: underline;
	margin: 0;
	border: 0;
}

#hair {
	background-image: url(images/hair-girl.jpg);
	width: 235px;
	height: 180px;
	float: right;
	background-repeat: no-repeat;
	-webkit-box-shadow: 1px 1px 5px #666;
	-moz-box-shadow: 1px 1px 5px #666;
	margin: 10px 80px 0 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

a:link {
	text-decoration: none;
	color: #968E8D;
}

a:visited {
	color: #CBC1BC;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover, a:focus {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7A7676;
	color: #FFF;
}
#main {
	overflow: hidden;
	padding: 10px 15px 0px 40px;
}
#left {
	width: 420px;
	float: left;
}
#right {
	width: 440px;
	float: right;
}
#validator {
	float: left;
	width: 110px;
	height: 25px;
}
#right p img {
	float: right;
	margin: 5px 0 5px 8px;
	border: medium dotted #7A7676;
}
#top {
	font-size: 12px;
	float: right;
	text-transform: uppercase;
	margin-right: 12px;
}
#footer {
	height: 41px;
	background:url(images/bg-footer.gif);
	padding-right: 10px;
	padding-top: 3px;
	background-repeat: no-repeat;
	clear: both;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}
#copyright h3 {
	float: left;
	margin-top: -1px;
	margin-left: 380px;
	color: #404040;
}
#milo  {
	height: 33px;
	float: right;
	/* [disabled]background-repeat: no-repeat; */
	width: 41px;
	/* [disabled]border: 1 dotted #404055; */
	text-decoration: none;
	/* [disabled]background-image: url(images/milo_logo.png); */
}
#milo h1 a img {
	text-decoration: none;
	border: 0 dotted #616E76;
}
#milo h1 a {
	text-decoration: none;
}


h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 21px;
	margin-bottom: 4px;
}
h3 {
	font-size: x-small;
	color: #FFF;
	padding-top: 8px;
	margin-bottom: 4px;
}
p {
	font-size: 14px;
	margin: 0 0 10px 5px;
	text-align: justify;
}
