<div id="header">
    <div id="welcome">
        <h1>About Developer</h1>
    </div>
    <!-- <div id="resume"><a href="/resume">Check out my Resume!</a>
    </div> -->
</div>
</header>
<main>
    <article id="content">
        <div id="personal">
            <header>
                <h1>Associate of Applied Science Degree in Web Design</h1>
            </header>
            <p>This degree was awarded to me in 2012. I studied at Seattle Central Community College, this was a great program
                at this particular college, it was a challenge to get funding every quarter, so I'm proud of staying committed
                and completing the entire program.</p>
            <p>
                <script type="text/javascript" src="js/easy_rotator.min.js"></script>
            </p>
            <div class="dwuserEasyRotator" data-erconfig="{autoplayEnabled:false, lpp:'102-105-108-101-58-47-47-47-67-58-47-85-115-101-114-115-47-109-105-108-111-47-68-111-99-117-109-101-110-116-115-47-69-97-115-121-82-111-116-97-116-111-114-80-114-101-118-105-101-119-47-112-114-101-118-105-101-119-95-115-119-102-115-47'}"
                data-ername="Resume">
                <div data-ertype="content" style="display: none;">
                    <ul data-erlabel="Main Category">
                        <li>
                            <img class="main" src="images/bmw_milo_60sera.gif" />
                            <img class="thumb" src="images/bmw_milo_60sera.gif" />
                        </li>
                        <li>
                            <img class="main" src="images/t-shirt.jpg" />
                            <img class="thumb" src="images/t-shirt.jpg" />
                        </li>
                    </ul>
                </div>
                <div data-ertype="layout" data-ertemplatename="NONE" style="">
                    <div class="erimgMain" style="position: absolute; left:0;right:0;top:0;bottom:25px;" data-erconfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', alwaysPreviousButton:true, __loopNextButton:false, __arrowButtonMode:'rollover'}">
                        <div class="erimgMain_slides erFixCSS3" style="position: absolute; left:15px; top:0; bottom:0; right:15px;">
                            <div class="erimgMain_slide">
                                <div class="erimgMain_img" style="position: absolute; left:0;right:0;top:0;bottom:0;"></div>
                            </div>
                        </div>
                        <div class="erimgMain_arrowLeft" style="position:absolute; left: 0; top: 50%; margin-top: -15px;" data-erconfig="{image:'circleCozy', image2:'circleCozy'}"></div>
                        <div class="erimgMain_arrowRight" style="position:absolute; right: 0; top: 50%; margin-top: -15px;" data-erconfig="{image:'circleCozy', image2:'circleCozy'}"></div>
                    </div>
                    <div class="erdots" style="overflow: hidden; margin: 0; font-size: 10px; font-family: 'Lucida Grande', 'Lucida Sans', Arial, _sans; color: #FFF; position: absolute; left:0; right:0; bottom:5px;"
                        data-erconfig="{showText:false}" align="center">
                        <div class="erdots_wrap" style="wasbackground-color: #CFC; float: none;" align="left">
                            <!-- modify the float on this element to make left/right/none=center aligned. -->
                            <span class="erdots_btn_selected" style="padding-left: 0; width: 12px; height: 12px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 0 0 6px; cursor: default; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/12_8_666empty.png) top left no-repeat;">
                            &nbsp; </span>
                            <span class="erdots_btn_normal" style="padding-left: 0; width: 12px; height: 12px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 0 0 6px; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/12_8_666.png) top left no-repeat;">
                            &nbsp; </span>
                            <span class="erdots_btn_hover" style="padding-left: 0; width: 12px; height: 12px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 0 0 6px; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/12_8_CCC.png) top left no-repeat;">
                            &nbsp; </span>
                        </div>
                    </div>
                    <div class="erabout erFixCSS3">
                        <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank"></a>
                        <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        <section id="wrap_image2">
            <header>
                <h1>Some comments from clients.</h1>
            </header>
            <blockquote>
                <footer>From Eric, </footer>
                <q>Milo worked on my site, very professional person to work with.</q>
            </blockquote>
            <blockquote>
                <footer>From Will, </footer>
                <q>I could count on you to get done what you said you would get done, you did it right and no one notices it
                    because it's like missing the forest for the trees.</q>
            </blockquote>
        </section>
    </article>
</main>