<div id="header">
    <div id="welcome">
        <h1>development</h1>
    </div>
    <!-- <div id="resume"><a href="/resume">Check out my Resume!</a>
    </div> -->

    <!-- <div >
        <p>Simply create an account to get started</p>
    </div> -->
    {{!--
    <div class="widget">--}} {{!--
        <form name="login-form" id="login-form" method="post" action="/users/login">--}} {{!--
            <div class="form-group">--}} {{!--
                <label for="email">Email</label>--}} {{!--
                <input type="type" id="email" name="email" required/>--}} {{!-- </div>--}} {{!--
            <div class="form-group">--}} {{!--
                <label for="password">Password</label>--}} {{!--
                <input type="password" id="password" name="password" required/>--}} {{!-- </div>--}} {{!--
            <div class="form-submit">--}} {{!--
                <input type="submit" value="Log in" />--}} {{!--
                <div class="margin-top-30">--}} {{!-- or
                    <a href="/users/create">Create an account</a>--}} {{!-- </div>--}} {{!-- </div>--}} {{!-- </form>--}} {{!--
    </div>--}}

</div>
</header>
<main>
    <article id="content">
        <header>
            <h1>Windows 10 touchscreen app for Nutritional Retail Store Thinkitdrinkit</h1>
        </header>
        <p>Coded in HTML, CSS, JavaScript, NODE.js, Azure hosting, SQL, Visual Studio, portal created in .NET, API cloud based
            POS system (VEND). Coded Windows 8 app, planned application development kiosk, and researched what type of hardware/software
            to use. *App images bellow are of Beta version, some typos are present.</p>
        <!-- Begin DWUser_EasyRotator -->
        <script type="text/javascript" src="js/easy_rotator.min.js"></script>
        <div class="dwuserEasyRotator" data-erconfig="{autoplayEnabled:false, lpp:'102-105-108-101-58-47-47-47-67-58-47-85-115-101-114-115-47-109-105-108-111-47-68-111-99-117-109-101-110-116-115-47-69-97-115-121-82-111-116-97-116-111-114-80-114-101-118-105-101-119-47-112-114-101-118-105-101-119-95-115-119-102-115-47'}"
            data-ername="mensa">
            <div data-ertype="content" style="display: none;">
                <ul data-erlabel="Main Category">
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/thinkitdrinkit_app_kiosks.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/thinkitdrinkit_app_kiosks.jpg" />
                    </li>

                    {{!--Picture attribute not working yet--}} {{!--
                    <li>--}} {{!--
                        <picture>--}} {{!--
                            <source srcset="images/milowebdesign_images_rotating/thinkitdrinkit_app/small/app_small.jpg">--}} {{!--
                            <source media="(min-width:28em)" srcset="images/milowebdesign_images_rotating/thinkitdrinkit_app/medium/app_medium.jpg">--}} {{!--
                            <source media="(min-width:50em)" srcset="images/milowebdesign_images_rotating/thinkitdrinkit_app/large/app_large.jpg">--}} {{!--
                            <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/large/app_large.jpg"
                                alt="kiosk app" />--}} {{!--
                            <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/small/app_small.jpg"
                                alt="kiosk app" />--}} {{!--
                        </picture> --}} {{!--
                    </li>--}}

                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/1.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/1.jpg" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/2.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/2.jpg" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/3.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/3.jpg" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/4.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/4.jpg" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/5.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/5.jpg" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/6.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/6.jpg" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/7.jpg" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/thinkitdrinkit_app/7.jpg" />
                    </li>
                </ul>
            </div>
            <div data-ertype="layout" data-ertemplatename="NONE" style="">
                <div class="erimgMain" style="position: absolute; left:0;right:0;top:0;bottom:30px;" data-erConfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', alwaysPreviousButton:true, __loopNextButton:false, __arrowButtonMode:'rollover'}">
                    <div class="erimgMain_slides erFixCSS3" style="position: absolute; left:30px; top:0; bottom:0; right:30px; background:#222;"
                        style_real="border-radius:15px;">
                        <div class="erimgMain_slide">
                            <div class="erimgMain_img" style="position: absolute; left:0;right:0;top:0;bottom:0;"></div>
                        </div>
                    </div>
                    <div class="erimgMain_arrowLeft" style="position:absolute; left: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                    <div class="erimgMain_arrowRight" style="position:absolute; right: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                </div>

                <div class="erdots" style="overflow: hidden; margin: 0; font-size: 10px; font-family: 'Lucida Grande', 'Lucida Sans', Arial, _sans; color: #FFF; position: absolute; left:0; right:0; bottom:5px;"
                    data-erConfig="{showText:false}" align="center">
                    <div class="erdots_wrap" style="wasbackground-color: #CFC; float: none;" align="left">
                        <!-- modify the float on this element to make left/right/none=center aligned. -->
                        <span class="erdots_btn_selected" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: default; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_normal" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_35.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_hover" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                    </div>
                </div>
                <div class="erabout erFixCSS3">
                    <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank"></a>
                </div>
            </div>
        </div>
        <!-- End DWUser_EasyRotator -->
        <header>
            <h1>Construction of milo portfolio</h1>
        </header>
        <p>Designed with Illustrator & Photoshop, created buttons, color schemes, wireframes from scratch. Programmed in html5
            and CSS3. Responsive. Also used JavaScript, handlebars, express.js, MongoDB, and NODE.js all combine to create
            a MVC type application that can be expanded. Used c9.io, atom and hosted on Heroku.</p>
        <!-- Begin DWUser_EasyRotator -->
        <script type="text/javascript" src="js/easy_rotator.min.js"></script>

        <div class="dwuserEasyRotator" data-erconfig="{autoplayEnabled:false, lpp:'102-105-108-101-58-47-47-47-67-58-47-85-115-101-114-115-47-109-105-108-111-47-68-111-99-117-109-101-110-116-115-47-69-97-115-121-82-111-116-97-116-111-114-80-114-101-118-105-101-119-47-112-114-101-118-105-101-119-95-115-119-102-115-47'}"
            data-ername="milowebdesign">
            <div data-ertype="content" style="display: none;">
                <ul data-erlabel="Main Category">
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe1.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe1.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe2.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe2.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe3.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe3.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe4.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe4.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe5.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe5.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe6.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe6.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe7.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe7.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe8.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe8.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/wireframe9.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/wireframe9.gif" />
                    </li>
                </ul>
            </div>
            <div data-ertype="layout" data-ertemplatename="NONE" style="">
                <div class="erimgMain" style="position: absolute; left:0;right:0;top:0;bottom:30px;" data-erConfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', alwaysPreviousButton:true, __loopNextButton:false, __arrowButtonMode:'rollover'}">
                    <div class="erimgMain_slides erFixCSS3" style="position: absolute; left:30px; top:0; bottom:0; right:30px; background:#222;"
                        style_real="border-radius:15px;">
                        <div class="erimgMain_slide">
                            <div class="erimgMain_img" style="position: absolute; left:0;right:0;top:0;bottom:0;"></div>
                            <p id="https_error">IF IMAGES DONT WORK DROPBOX IS NOT ALLOWING SCRIPT TO RUN, IN THE URL YOU HAVE TO CLICK ON A
                                SHIELD (IF GOOGLE CHROME) AND CLICK ALLOW SCRIPT.</p>
                        </div>
                    </div>
                    <div class="erimgMain_arrowLeft" style="position:absolute; left: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                    <div class="erimgMain_arrowRight" style="position:absolute; right: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                </div>

                <div class="erdots" style="overflow: hidden; margin: 0; font-size: 10px; font-family: 'Lucida Grande', 'Lucida Sans', Arial, _sans; color: #FFF; position: absolute; left:0; right:0; bottom:5px;"
                    data-erConfig="{showText:false}" align="center">
                    <div class="erdots_wrap" style="wasbackground-color: #CFC; float: none;" align="left">
                        <!-- modify the float on this element to make left/right/none=center aligned. -->
                        <span class="erdots_btn_selected" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: default; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_normal" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_35.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_hover" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                    </div>
                </div>
                <div class="erabout erFixCSS3">
                    <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank"></a>
                </div>

            </div>
        </div>
        <!-- End DWUser_EasyRotator -->
        <header>
            <h1>Mensa of Western Washington</h1>
        </header>
        <p>Designed header, used a wordpress theme, customized php to clients needs that entailed programming a custom drop
            down menu using jQuery Library. Programs used; Illustrator, Photoshop, Dreamweaver and Firebug.</p>
        <!-- Begin DWUser_EasyRotator -->
        <script type="text/javascript" src="js/easy_rotator.min.js"></script>
        <div class="dwuserEasyRotator" data-erconfig="{autoplayEnabled:false, lpp:'102-105-108-101-58-47-47-47-67-58-47-85-115-101-114-115-47-109-105-108-111-47-68-111-99-117-109-101-110-116-115-47-69-97-115-121-82-111-116-97-116-111-114-80-114-101-118-105-101-119-47-112-114-101-118-105-101-119-95-115-119-102-115-47'}"
            data-ername="mensa">
            <div data-ertype="content" style="display: none;">
                <ul data-erlabel="Main Category">
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/mensa/original.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/mensa/original.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/mensa/redesign.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/mensa/redesign.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/mensa/redesign2.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/mensa/redesign2.gif" />
                    </li>
                </ul>
            </div>
            <div data-ertype="layout" data-ertemplatename="NONE" style="">
                <div class="erimgMain" style="position: absolute; left:0;right:0;top:0;bottom:30px;" data-erConfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', alwaysPreviousButton:true, __loopNextButton:false, __arrowButtonMode:'rollover'}">
                    <div class="erimgMain_slides erFixCSS3" style="position: absolute; left:30px; top:0; bottom:0; right:30px; background:#222;"
                        style_real="border-radius:15px;">
                        <div class="erimgMain_slide">
                            <div class="erimgMain_img" style="position: absolute; left:0;right:0;top:0;bottom:0;"></div>
                        </div>
                    </div>
                    <div class="erimgMain_arrowLeft" style="position:absolute; left: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                    <div class="erimgMain_arrowRight" style="position:absolute; right: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                </div>

                <div class="erdots" style="overflow: hidden; margin: 0; font-size: 10px; font-family: 'Lucida Grande', 'Lucida Sans', Arial, _sans; color: #FFF; position: absolute; left:0; right:0; bottom:5px;"
                    data-erConfig="{showText:false}" align="center">
                    <div class="erdots_wrap" style="wasbackground-color: #CFC; float: none;" align="left">
                        <!-- modify the float on this element to make left/right/none=center aligned. -->
                        <span class="erdots_btn_selected" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: default; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_normal" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_35.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_hover" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                    </div>
                </div>
                <div class="erabout erFixCSS3">
                    <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank"></a>
                </div>
            </div>
        </div>
        <!-- End DWUser_EasyRotator -->

        <header>
            <h1>Steven's Salon</h1>
        </header>
        <p>Used original logo as inspiration for color and feel of website. Programs used; Illustrator, Photoshop, Dreamweaver
            and Firebug.</p>

        <!-- Begin DWUser_EasyRotator -->
        <script type="text/javascript" src="js/easy_rotator.min.js"></script>
        <div class="dwuserEasyRotator" data-erconfig="{autoplayEnabled:false, lpp:'102-105-108-101-58-47-47-47-67-58-47-85-115-101-114-115-47-109-105-108-111-47-68-111-99-117-109-101-110-116-115-47-69-97-115-121-82-111-116-97-116-111-114-80-114-101-118-105-101-119-47-112-114-101-118-105-101-119-95-115-119-102-115-47'}"
            data-ername="steven">
            <div data-ertype="content" style="display: none;">
                <ul data-erlabel="Main Category">
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/front_desk.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/front_desk.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/ideas.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/ideas.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/mockup.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/mockup.gif" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/roughdraft.png" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/roughdraft.png" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/roughdraft2.png" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/roughdraft2.png" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/rotating3.png" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/rotating3.png" />
                    </li>
                    <li>
                        <img class="main" src="images/milowebdesign_images_rotating/steven/mockup2.gif" />
                        <img class="thumb" src="images/milowebdesign_images_rotating/steven/mockup2.gif" />
                    </li>
                </ul>
            </div>
            <div data-ertype="layout" data-ertemplatename="NONE" style="">
                <div class="erimgMain" style="position: absolute; left:0;right:0;top:0;bottom:30px;" data-erConfig="{___numTiles:3, scaleMode:'fillArea', imgType:'main', alwaysPreviousButton:true, __loopNextButton:false, __arrowButtonMode:'rollover'}">
                    <div class="erimgMain_slides erFixCSS3" style="position: absolute; left:30px; top:0; bottom:0; right:30px; background:#222;"
                        style_real="border-radius:15px;">
                        <div class="erimgMain_slide">
                            <div class="erimgMain_img" style="position: absolute; left:0;right:0;top:0;bottom:0;"></div>
                        </div>
                    </div>
                    <div class="erimgMain_arrowLeft" style="position:absolute; left: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                    <div class="erimgMain_arrowRight" style="position:absolute; right: 0; top: 50%; margin-top: -30px;" data-erConfig="{image:'moonMed', image2:'moonMed'}"></div>
                </div>

                <div class="erdots" style="overflow: hidden; margin: 0; font-size: 10px; font-family: 'Lucida Grande', 'Lucida Sans', Arial, _sans; color: #FFF; position: absolute; left:0; right:0; bottom:5px;"
                    data-erConfig="{showText:false}" align="center">
                    <div class="erdots_wrap" style="wasbackground-color: #CFC; float: none;" align="left">
                        <!-- modify the float on this element to make left/right/none=center aligned. -->
                        <span class="erdots_btn_selected" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: default; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_normal" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_35.png) top left no-repeat;">
                            &nbsp;
                        </span>
                        <span class="erdots_btn_hover" style="padding-left: 0; width: 21px; height: 20px; display: inline-block; text-align: center; vertical-align: middle; line-height: 20px; margin: 0 2px 0 0; cursor: pointer; background: url(http://easyrotator.s3.amazonaws.com/1/i/rotator/dots/export/20_14_black_65.png) top left no-repeat;">
                            &nbsp;
                        </span>
                    </div>
                </div>
                <div class="erabout erFixCSS3">
                    <a style="color:#FFF;" href="http://www.dwuser.com/easyrotator/" target="_blank"></a>
                </div>

            </div>
        </div>
        <!-- End DWUser_EasyRotator -->
        <div id="rightsidebar"> &nbsp; </div>
        <div class="clear">&nbsp;</div>
    </article>
</main>