<div id="wrap_head">
    <div id="header">
        <div id="welcome">
            <h1>Portfolio Front End Developer Denver, CO</h1>
            <p id="date">{{date}}</p>
        </div>
        <div id="spotlight" class="SlidingPanels">
            <div class="SlidingPanelsContentGroup">
                <div class="SlidingPanelsContent" id="p1">
                    <a href="steven/index.html">
                        <img src="images/sbs.png" width="340" height="158" alt="Steven Barrot Salon" />
                    </a>
                </div>
                <div class="SlidingPanelsContent" id="p2">
                    <a href="http://www.getty.edu/pacificstandardtime">
                        <img src="images/getty.png" width="340" height="158" alt="getty museum" />
                    </a>
                </div>
                <div class="SlidingPanelsContent" id="p3">
                    <a href="javascript:;">
                        <img src="images/mensa2.gif" width="340" height="158" alt="Mensa of Western Washington" />
                    </a>
                </div>
                <div class="SlidingPanelsContent" id="p4">
                    <a href="javascript:;">
                        <img src="images/hochkunst.gif" width="340" height="158" alt="hoch kunst curator" />
                    </a>
                </div>
                <!--<div class="SlidingPanelsContent" id="p5">Panel 5</div>-->
            </div>
        </div>
        <div id="nav_spotlight">
            <span class="floatleft">
                <a href="javascript:;" onclick="sp1.showPreviousPanel();">&lt;
                    <span>back</span>
                </a>
            </span>
            <span class="floatright">
                <a href="javascript:;" onclick="sp1.showNextPanel();">
                    <span>next</span> &gt;</a>
            </span>
        </div>
    </div>
</div>
</header>
<main>
    <article id="content">
        <div id="text">
            <header>
                <h1>Experience</h1>
                <p>I enjoy exploring the potential of webdesign and web development. The technology that I have been working
                    with has been XHTML, CSS, Wordpress CMS, Joomla CMS, Flash, Concrete5, manipulating PHP, re purposing
                    JavaScript and learning to Incorporate HTML5.</p>
                <p>Most of my talent is troubleshooting. I also enjoy exploring creative elements with HTML5 and vector based
                    graphics.</p>
                <p>Some of the websites I built have been for a number of people with different needs, Graphic Artist's, a Curator
                    who is a very good friend of mine, Mensa of Western Washington, Steven Barrett Salon, Getti Museum and
                    Suite Arrangements. Have a look around, if you are in need of a Website and Logo design feel free to
                    e-mail me. Thank you and have a wonderful day.</p>
                <!-- If you like have a look at my <a href="/resume">resume</a>. -->
            </header>
        </div>
        <section id="wrap_image">
            <div id="right">
                <a href="javascript:;" onmouseover="fade_hover(this, 700, 100, 75, true)"></a>
                {{!--
                <a href="javascript:;" onmouseover="{{fade_hover}}"></a>--}}
            </div>
            <div id="skill">
                <header>
                    <h1>technical skills</h1>
                    <object data="html5/skill_script/skill_graph_v8_script.svg" type="image/svg+xml" width="100%" height="100%">
                        <param name="global_FillColor" value="#FFFF00" />
                    </object>
                </header>
            </div>
        </section>
    </article>
</main>
<script src="/SpryAssets/SprySlidingPanels.js" type="text/javascript"></script>
<script src="/SpryAssets/SpryEffects.js" type="text/javascript"></script>