<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{#if title}}{{title}}{{/if}} | Website Development | Milo Lang | Front end Developer | Denver, CO</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta charset="utf-8" />
  <meta name="author" content="Milo Lang" />
  <meta name="copyright" content="Milo Lang" />
  <meta name="Description" content="Website Design | Milo Patrick Lang | Front end Developer | Denver, CO" />
  <meta name="Keywords" content="Website Design | Milo Patrick Lang | Front end Developer | Denver, CO" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/stylesheets/styles_master.css" rel="stylesheet" type="text/css" />
  <link href="/SpryAssets/SprySlidingPanels.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="container">
    <header>
      <div id="logo">
        <a href="/">
          <img id="image_logo" src="/images/logo.png" alt="milo local website design atlanta ga" />
        </a>
      </div>
      <nav id="navigation">
        <ul id="nav">
          <li id="nav_li">
            <a href="/">home</a>
          </li>
          <li id="nav_li2" style="margin-left: 3px;">
            <a href="/about">about developer</a>
          </li>
          <li style="margin-left: 3px;">
            <a href="/development">development</a>
          </li>
          <!-- <li style="margin-left: 3px; display: none;" ><a href="/resume">resume</a></li> -->
        </ul>
      </nav>

      {{#if firstName}}
      <div id="greeting" style="float:right">
        <strong>Hi, {{firstName}}!</strong>
        <a href="/users/logout">Log out</a>
      </div>
      {{/if}} {{{body}}}

      <footer id="footer">
        <div id="footer_content">
          <div id="copyright_link">
            <a href="mailto:milolang@gmail.com">milolang@gmail.com </a>
            <span>(206)853-7645</span>
          </div>
        </div>
      </footer>
  </div>
  <script src="/js/general.js"></script>
  <script src="/SpryAssets/SprySlidingPanels.js" type="text/javascript"></script>
  <script src="/SpryAssets/SpryEffects.js" type="text/javascript"></script>
  <script type="text/javascript">
    function fade_hover(targetElement, duration, from, to, toggle) {
      Spry.Effect.DoFade(targetElement, { duration: duration, from: from, to: to, toggle: toggle });
    }
  </script>

  <script type="text/javascript">
// 	var ga;
//   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//   ga('create', 'UA-68930288-1', 'auto');
//   ga('send', 'pageview');
  </script>



  <script type="text/javascript">

    if (window.location.pathname === ("/")) {
      var sp1 = new Spry.Widget.SlidingPanels("spotlight");
    };

  </script>
</body>

</html>