<div id="header">
    <div id="welcome">
        <h1>Resume</h1>
    </div>
</div>
</header>
<main>
    <article id="content">
        <div class="WordSection1">
            <div style='mso-element:para-border-div;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 0in 1.0pt 0in'>
                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none;
  border:none;mso-border-bottom-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:
  0in 0in 1.0pt 0in'>
                    <header>
                        <h1>
                            <span style='font-family:"Times New Roman","serif";
    text-transform:uppercase'>Experience
                                <o:p></o:p>
                            </span>
                        </h1>
                    </header>
                </p>
            </div>
            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=right style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-table-lspace:
   9.0pt;margin-left:6.75pt;mso-table-rspace:9.0pt;margin-right:6.75pt;
   mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:margin;
   mso-table-left:right;mso-table-top:2.0pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
   mso-border-insideh:none;mso-border-insidev:none'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
    height:4.35pt'>
                    <td width=50 valign=top style='width:37.5pt;padding:0in 5.4pt 0in 5.4pt;
    height:4.35pt'>
                        <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
    text-align:right;line-height:normal;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-left:right;mso-element-top:2.0pt;mso-height-rule:exactly'>
                            <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
    mso-fareast-theme-font:minor-fareast'>2013 - 2015
                                <o:p></o:p>
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'>
                <i style='mso-bidi-font-style:normal'>
                    <span style='font-family:"Times New Roman","serif"'>New
                        <span class=SpellE>Media Engineer</span>, Thinkitdrinkit.com</span>
                </i>
                <span style='font-family:"Times New Roman","serif"'>
                    <o:p></o:p>
                </span>
            </p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Worked with other developers, planning of application development, setting up </br> existing cloud based
                    POS system and working to connect via VEND API to our Windows 8.1 application.
                    <span style='mso-bidi-font-weight:bold'>
                        <o:p></o:p>
                    </span>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span class=SpellE>
                    <span style='font-family:
  "Times New Roman","serif";mso-bidi-font-weight:bold'>Researched</span>
                </span>
                <span style='font-family:"Times New Roman","serif";mso-bidi-font-weight:bold'> software/hardware for building a custom kiosk in a start </br> up retail store and achieving deadline for
                    release of the application package.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo3;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Bug testing/adding features to our windows 8.1 app.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo3;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Developed data storage to our cloud based Windows Azure to manage the </br> Windows 8.1 application and .NET
                    website portal which allows editing content of the application.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo3;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Troubleshooting XHTML, CSS and JavaScript.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>Used Magento CMS and Wordpress as websites for initial exposure of the business.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>Used Illustrator and Photoshop in initial mock-ups of the application.
                    <span style='mso-tab-count:1'>           </span>
                    <span style='mso-spacerun:yes'>         </span>
                    <o:p></o:p>
                </span>
            </p>
            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=right style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-table-lspace:
   9.0pt;margin-left:6.75pt;mso-table-rspace:9.0pt;margin-right:6.75pt;
   mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:margin;
   mso-table-left:right;mso-table-top:2.0pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
   mso-border-insideh:none;mso-border-insidev:none'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
    height:4.35pt'>
                    <td width=50 valign=top style='width:37.5pt;padding:0in 5.4pt 0in 5.4pt;
    height:4.35pt'>
                        <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
    text-align:right;line-height:normal;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-left:right;mso-element-top:2.0pt;mso-height-rule:exactly'>
                            <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
    mso-fareast-theme-font:minor-fareast'>2009 - 2012
                                <o:p></o:p>
                            </span>
                        </p>
                    </td>
                </tr>
            </table>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'>
                <i style='mso-bidi-font-style:normal'>
                    <span style='font-family:"Times New Roman","serif"'>Freelance
                        <span class=SpellE>Webdesigner</span>, Milowebdesign</span>
                </i>
                <span style='font-family:"Times New Roman","serif"'>
                    <o:p></o:p>
                </span>
            </p>

            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Owner of freelance Web Design Studio.
                    <span style='mso-bidi-font-weight:bold'>
                        <o:p></o:p>
                    </span>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span class=SpellE>
                    <span style='font-family:
  "Times New Roman","serif";mso-bidi-font-weight:bold'>Getti</span>
                </span>
                <span style='font-family:"Times New Roman","serif";mso-bidi-font-weight:bold'> Museum, added 150 artist's content from PDF to a custom PHP theme.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo3;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Development in XHTML, CSS, JavaScript libraries and multiple CMS platforms.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo3;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Use Wordpress CMS for client's sites and designed custom PHP themes.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo3;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>MySQL databases editing/moving of sites.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>Coded for SEO in websites, used Google Analytics and researched for keywords.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>Developed with Concrete5 CMS and built custom PHP themes.
                    <span style='mso-tab-count:1'>           </span>
                    <span style='mso-spacerun:yes'>         </span>
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l4 level1 lfo1;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>Converted multiple types of documents to XHTML.</span>
                <u>
                    <span style='font-family:"Times New Roman","serif";color:blue'>
                        <o:p></o:p>
                    </span>
                </u>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l4 level1 lfo1;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Design look of websites using Illustrator.
                    <u>
                        <span style='color:blue'>
                            <o:p></o:p>
                        </span>
                    </u>
                </span>
            </p>
            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l4 level1 lfo1;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Illustrator &amp; Photoshop used to Design for UI/UX.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l5 level1 lfo2;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol;mso-bidi-font-weight:bold'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>Worked remotely, managed own time, and scheduled to meet deadlines.</span>
                <span style='font-family:"Times New Roman","serif"'>
                    <span style='mso-spacerun:yes'>       </span>
                    <span style='mso-tab-count:1'>  </span>
                    <span style='mso-bidi-font-weight:bold'>
                        <o:p></o:p>
                    </span>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l4 level1 lfo1;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Led client through entire process from
                    <span class=SpellE>wireframing</span> to XHTML coding.
                    <u>
                        <span style='color:blue'>
                            <o:p></o:p>
                        </span>
                    </u>
                </span>
            </p>
            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=right style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-table-lspace:
   9.0pt;margin-left:6.75pt;mso-table-rspace:9.0pt;margin-right:6.75pt;
   mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:margin;
   mso-table-left:right;mso-table-top:2.0pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
   mso-border-insideh:none;mso-border-insidev:none'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
    height:4.35pt'>
                    <td width=50 valign=top style='width:37.5pt;padding:0in 5.4pt 0in 5.4pt;
    height:4.35pt'>
                        <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
    text-align:right;line-height:normal;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-left:right;mso-element-top:2.0pt;mso-height-rule:exactly'>
                            <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
    mso-fareast-theme-font:minor-fareast'>2008
                                <o:p></o:p>
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'>
                <i style='mso-bidi-font-style:normal'>
                    <span style='font-family:"Times New Roman","serif"'>Radio Technician,
                        <span class=SpellE>Daywireless</span>, Seattle WA</span>
                </i>
                <span style='font-family:"Times New Roman","serif"'>
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
  0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;text-indent:
  -.25in;line-height:normal;mso-pagination:none;mso-list:l4 level1 lfo14;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Contracted with Microsoft for installation &amp; programming of radio communication.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l0 level1 lfo1;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Performed site walks, optimized radio frequency levels, &amp; mapped levels on a custom mobile set up.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l0 level1 lfo1;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Installed repeaters for 3+ job sites per week.
                    <o:p></o:p>
                </span>
            </p>
            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=right style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-table-lspace:
   9.0pt;margin-left:6.75pt;mso-table-rspace:9.0pt;margin-right:6.75pt;
   mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:margin;
   mso-table-left:right;mso-table-top:.65pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
   mso-border-insideh:none;mso-border-insidev:none'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
    height:11.0pt'>
                    <td width=95 valign=top style='width:71.45pt;padding:0in 5.4pt 0in 5.4pt;
    height:11.0pt'>
                        <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
    text-align:right;line-height:normal;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-left:right;mso-element-top:.65pt;mso-height-rule:exactly'>
                            <span style='font-family:"Times New Roman","serif"'>2006 - 2008
                                <o:p></o:p>
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'>
                <i style='mso-bidi-font-style:normal'>
                    <span style='font-family:"Times New Roman","serif"'>Radio Technician, Industrial Communication,
                        <span style='color:red;mso-bidi-font-weight:
  bold'> </span>
                        <span style='mso-bidi-font-weight:bold'>Seattle, WA</span>
                    </span>
                </i>
                <span style='font-family:"Times New Roman","serif"'>
                    <span style='mso-tab-count:2'>                  </span>
                    <span style='mso-spacerun:yes'>   </span>
                    <span style='mso-tab-count:1'>        </span>
                    <span style='mso-spacerun:yes'> </span>
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo7;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Programmed DOS-based radios using specific software.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:31.5pt;margin-bottom:.0001pt;mso-add-space:auto;
  text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l2 level1 lfo7;
  mso-layout-grid-align:none;text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Managed self, worked from vehicle, and represented as the face of the company interacting with clients.
                    <o:p></o:p>
                </span>
            </p>
            <div style='mso-element:para-border-div;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 0in 1.0pt 0in'>
                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none;
  border:none;mso-border-bottom-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:
  0in 0in 1.0pt 0in'>
                    <b>
                        <span style='font-family:"Times New Roman","serif";
  color:red;text-transform:uppercase'>
                            <o:p>&nbsp;</o:p>
                        </span>
                    </b>
                </p>
                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none;
  border:none;mso-border-bottom-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:
  0in 0in 1.0pt 0in'>
                    <header>
                        <h1>
                            <span style='font-family:"Times New Roman","serif";
    text-transform:uppercase'>Education
                                <o:p></o:p>
                            </span>
                        </h1>
                    </header>
                </p>
            </div>
            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=right style='border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-table-lspace:
   9.0pt;margin-left:6.75pt;mso-table-rspace:9.0pt;margin-right:6.75pt;
   mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:margin;
   mso-table-left:right;mso-table-top:1.9pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
   mso-border-insideh:none;mso-border-insidev:none'>
                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
    height:4.35pt'>
                    <td width=139 valign=top style='width:103.95pt;padding:0in 5.4pt 0in 5.4pt;
    height:4.35pt'>
                        <p class=MsoNormal align=right style='margin-bottom:0in;margin-bottom:.0001pt;
    text-align:right;line-height:normal;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-left:right;mso-element-top:1.9pt;mso-height-rule:exactly'>
                            <span style='font-family:"Times New Roman","serif"'>2009 - 2012
                                <o:p></o:p>
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'>
                <i style='mso-bidi-font-style:normal'>
                    <span style='font-family:"Times New Roman","serif";
  mso-bidi-font-weight:bold'>AAS Degree in
                        <span class=GramE>IT</span> Web Design, Seattle Central Community College, Seattle WA</span>
                </i>
                <span style='font-family:"Times New Roman","serif";mso-bidi-font-weight:bold'>
                    <span style='mso-tab-count:2'>                     </span>
                    <span style='mso-spacerun:yes'>   </span>
                    <o:p></o:p>
                </span>
            </p>
            <div style='mso-element:para-border-div;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 0in 1.0pt 0in'>
                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none;
  border:none;mso-border-bottom-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:
  0in 0in 1.0pt 0in'>
                    <b>
                        <span style='font-family:"Times New Roman","serif";
  text-transform:uppercase'>
                            <o:p>&nbsp;</o:p>
                        </span>
                    </b>
                </p>
                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none;
  border:none;mso-border-bottom-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:
  0in 0in 1.0pt 0in'>
                    <header>
                        <h1>
                            <span style='font-family:"Times New Roman","serif";
    text-transform:uppercase'>Professional skills
                                <o:p></o:p>
                            </span>
                        </h1>
                    </header>
                </p>
            </div>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l5 level1 lfo2;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>
                    Six years developing websites and web applications.
                    <o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l5 level1 lfo2;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Seven years of field Technician experience, troubleshooting and installing communication devices.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l5 level1 lfo2;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Fifteen years of professional customer service experience.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:normal;
  mso-pagination:none;mso-list:l5 level1 lfo2;mso-layout-grid-align:none;
  text-autospace:none'>
                <![if !supportLists]>
                <span style='font-family:Symbol;
  mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'>
                    <span style='mso-list:Ignore'>·
                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </span>
                </span>
                <![endif]>
                <span style='font-family:"Times New Roman","serif"'>Bilingual in Czech and English.
                    <o:p></o:p>
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
  margin-left:31.5pt;margin-bottom:.0001pt;line-height:normal;mso-pagination:
  none;mso-layout-grid-align:none;text-autospace:none'>
                <span style='font-family:
  "Times New Roman","serif"'>
                    <o:p>&nbsp;</o:p>
                </span>
            </p>
            <div style='mso-element:para-border-div;border:none;border-bottom:solid windowtext 1.0pt;
  mso-border-bottom-alt:solid windowtext .5pt;padding:0in 0in 1.0pt 0in'>
                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:none;mso-layout-grid-align:none;text-autospace:none;
  border:none;mso-border-bottom-alt:solid windowtext .5pt;padding:0in;mso-padding-alt:
  0in 0in 1.0pt 0in'>
                    <header>
                        <h1>
                            <span style='font-family:"Times New Roman","serif";
    text-transform:uppercase'>Technical skills
                                <o:p></o:p>
                            </span>
                        </h1>
                    </header>
                </p>
            </div>

            <div>
                <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 align=left width="97%" style='width:97.24%;border-collapse:collapse;border:none;
   mso-yfti-tbllook:1184;mso-table-lspace:9.0pt;margin-left:6.75pt;mso-table-rspace:
   9.0pt;margin-right:6.75pt;mso-table-anchor-vertical:paragraph;mso-table-anchor-horizontal:
   margin;mso-table-left:left;mso-table-top:18.3pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
   mso-border-insideh:none;mso-border-insidev:none'>
                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:11.55pt'>
                        <td width="30%" valign=top style='width:30.6%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>XHTML Strict </span>
                                </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="38%" valign=top style='width:38.36%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>SEO </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="31%" valign=top style='width:31.04%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>MySQL </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:1;height:11.55pt'>
                        <td width="30%" valign=top style='width:30.6%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>Dreamweaver
                                </span>
                                </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="38%" valign=top style='width:38.36%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>PHP </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="31%" valign=top style='width:31.04%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>UX/UI Design </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:2;height:12.85pt'>
                        <td width="30%" valign=top style='width:30.6%;padding:0in 5.4pt 0in 5.4pt;
    height:12.85pt'>
                            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>Illustrator
                                </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="38%" valign=top style='width:38.36%;padding:0in 5.4pt 0in 5.4pt;
    height:12.85pt'>
                            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>CMS Wordpress /
                                    <span class=SpellE>Joomla</span>
                                </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="31%" valign=top style='width:31.04%;padding:0in 5.4pt 0in 5.4pt;
    height:12.85pt'>
                            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>NODE.js </span>
                                </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:3;height:6.95pt'>
                        <td width="30%" valign=top style='width:30.6%;padding:0in 5.4pt 0in 5.4pt;
    height:6.95pt'>
                            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>Photoshop
                                </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="38%" valign=top style='width:38.36%;padding:0in 5.4pt 0in 5.4pt;
    height:6.95pt'>
                            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-indent:-.25in;line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;
    mso-layout-grid-align:none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:
    9.0pt;mso-element-wrap:around;mso-element-anchor-vertical:paragraph;
    mso-element-anchor-horizontal:margin;mso-element-top:18.3pt;mso-height-rule:
    exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:
    Symbol;mso-bidi-font-family:Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>JavaScript OOP </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="31%" valign=top style='width:31.04%;padding:0in 5.4pt 0in 5.4pt;
    height:6.95pt'>
                            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>Flash CS5 </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:4;mso-yfti-lastrow:yes;height:11.55pt'>
                        <td width="30%" valign=top style='width:30.6%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>CSS 3 </span>
                                </span>
                                </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <span style='mso-spacerun:yes'>    </span>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="38%" valign=top style='width:38.36%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span style='font-family:"Times New Roman","serif"'>HTML 5 </span>
                                <span style='font-family:"Times New Roman","serif"'>
                                    <span style='mso-spacerun:yes'>    </span>
                                    <o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td width="31%" valign=top style='width:31.04%;padding:0in 5.4pt 0in 5.4pt;
    height:11.55pt'>
                            <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;mso-add-space:auto;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:normal;mso-pagination:none;mso-list:l8 level1 lfo11;mso-layout-grid-align:
    none;text-autospace:none;mso-element:frame;mso-element-frame-hspace:9.0pt;
    mso-element-wrap:around;mso-element-anchor-vertical:paragraph;mso-element-anchor-horizontal:
    margin;mso-element-top:18.3pt;mso-height-rule:exactly'>
                                <![if !supportLists]>
                                <span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
    Symbol'>
                                    <span style='mso-list:Ignore'>·
                                        <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                    </span>
                                </span>
                                <![endif]>
                                <span class=SpellE>
                                    <span style='font-family:
    "Times New Roman","serif"'>APIs</span>
                                </span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    <!--article end-->
</main>