@font-face {
    font-family: 'PeignotLTStdBold';
    src: url('../font_web_kit/peignotltstd-bold-webfont.eot');
    src: url('../font_web_kit/peignotltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../font_web_kit/peignotltstd-bold-webfont.woff') format('woff'),
url('../font_web_kit/peignotltstd-bold-webfont.ttf') format('truetype'),
url('../font_web_kit/peignotltstd-bold-webfont.svg#PeignotLTStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheGreatEscapeRegular';
    src: url('../font_web_kit/handwritten_web_font/thegreatescape-webfont.eot');
    src: url('../font_web_kit/handwritten_web_font/thegreatescape-webfont.eot?#iefix') format('embedded-opentype'),
url('../font_web_kit/handwritten_web_font/thegreatescape-webfont.woff') format('woff'),
url('../font_web_kit/handwritten_web_font/thegreatescape-webfont.ttf') format('truetype'),
url('../font_web_kit/handwritten_web_font/thegreatescape-webfont.svg#TheGreatEscapeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheGreatEscapeBold';
    src: url('../font_web_kit/handwritten_web_font/thegreatescapebold-webfont.eot');
    src: url('../font_web_kit/handwritten_web_font/thegreatescapebold-webfont.eot?#iefix') format('embedded-opentype'),
url('../font_web_kit/handwritten_web_font/thegreatescapebold-webfont.woff') format('woff'),
url('../font_web_kit/handwritten_web_font/thegreatescapebold-webfont.ttf') format('truetype'),
url('../font_web_kit/handwritten_web_font/thegreatescapebold-webfont.svg#TheGreatEscapeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
a img {
	border: 0;
}
body {
	background-image: url(../images/bg2.png);
}
#wrap_image2 {
	background-image: url(../images/bg.png);
}
h1 {
	font-size: 1.3em;
}
h2{
	font-size: 1.2em;
}
#right a {
	background-image: url(../images/milo_face4.jpg);
}
#content {
	background-image: url(../images/content-bg.png);
}


/* Phone */
@media only screen and (max-width:40em){

    li {
    	font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
    	list-style-type: none;
    }
    p {
    	font-family: Georgia, Serif, Arial, Sans-Serif;
    	font-size: 1em;
    	margin: 10px 10px 20px 10px;
    /*	letter-spacing: 0.02em;*/
    	line-height: 1.3em;
    	/* [disabled]text-align: justify; */
    }
    #container {
    	/*hiddes scrol bar*/
    	overflow: hidden;
    	max-width: 60em; /* 960px / 16 = 60em*/
    	margin: 0 auto;

    }
    #container h1 a img {
    	margin: 2px 0 8px 1px;
    	text-decoration: none;
    }
    #container h1 a {
    	text-decoration: none;
    }
    #logo {
    	margin: 10px 0 10px 1px;
    	width: 100%;
    }
    #image_logo {
    	width: 20%;
    }
    #nav {
    	margin: 0 0 20px 20px;
    	width: 100%;
    	height: 100%;
    	background: no-repeat;
    	line-height: 2em;
    }
    #nav li {
    	float: none;
    	/* [disabled]padding: 1px; */
    	margin: 0;
    	background-repeat:no-repeat;
    	width: 129px;
    	/* [disabled]padding: 30px 0 15px 0; */
    	margin-left: 3px;
    }
    #nav li a {
    /*	color:  #5D9838;
    */	text-decoration: none;
    	color:  #030;
    }
    #nav li a:hover, #nav li a:focus {
    	color: #030;
    	border: 0;
    }
    #wrap_head {
    	background-color: rgb(24, 51, 25);
    }
    #header {
    	height: 50%;
    	width: 100%;
    	float: left;
    	overflow: visible;
    	background-image: url(../images/headerphone.png);
    	border-bottom: 1px;
    	-webkit-box-shadow: 1px 1px 3px #124207;
    	-moz-box-shadow: 1px 1px 3px #124207;
    	-moz-border-radius-topleft: 5px;
    	-moz-border-radius-topright: 5px;
    	-webkit-border-top-left-radius: 5px;
    	-webkit-border-top-right-radius: 5px;
    	border-top-right-radius: 5px;
    	border-top-left-radius: 5px;
    	box-shadow: 1px 1px 3px #124207;
    }
    #welcome {
        font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
        float: left;
        /* width: 43.75%; */
    /*    padding: 10px 0 10px 35px;
    */    color: #5DA038;
        font-size: 1.25em;
        margin-left: 5px;
    }
    #spotlight {
    	float: left;
    	margin: 0 0 5px 0;
    	width: 346px; /*needs to stay px cant do em*/
    	height: 100%;
    }
    #spotlight a img {
    	border: 2px dotted #46812B;
    }
    #spotlight a:hover img, #spotlight a:focus img {
    	border: 2px dotted #C1E1AF;
    }
    #nav_spotlight {
    	clear: none;
    	float: left;
    	height: 100%;
    	margin: 10px 0 10px -70px;
    /*	height: 20px;
    */}
    .floatleft {
    	font-size: 20px;
    	color: #000;
    	margin: 0 0 0 130px;
    	}
    .floatright {
    	font-size: 20px;
    	color: #000;
    	margin: 0 80px 0 80px;
    	}
    #nav_spotlight a {
    	color: #5D9838;
    	text-decoration: none;
    	overflow: visible;
    }
    #nav_spotlight a:hover, #nav_spotlight a:focus {
    	color: #030;
    }
    #nav_spotlight a:hover span, #nav_spotlight a:focus span {
    	border-bottom: 1px solid #333333;
    }
    #content {
    /*	padding: 10px;
    */	/*line-height: 12px;*/
    /*	margin: 0 60px 0 3px;
    */
    	overflow: hidden;
    	padding: 10px 15px 10px 15px;
    	-webkit-box-shadow: 1px 1px 3px #124207;
    	-moz-box-shadow: 1px 1px 3px #124207;
    	border-bottom-width: 20px;
    	box-shadow: 1px 1px 3px #124207;
    }
    #text {
    	float: left;
    	width: 100%;
    }
    #personal {
    	width: 100%;
    	float: left;
    }
    #wrap_image {
    	width: 100%;
    	float: left;
    	margin: 1px 0 0 0;
    }
    #wrap_image2 {
    	width: 100%;
    	padding: 10px 0 0 5px;
    	float: right;
    /*	margin: 90px 0 0 0;
    */}
    .dwuserEasyRotator {
    	width: 100%;
    /*	width: 475px;
    */	height: 270px;
    	position:relative;
    	text-align: left;
    	margin-bottom: 20px;
    }
    #right a {
    	float: left;
    	width: 51%;
    	height: 295px;
    	background-repeat: no-repeat;
    	margin: 4px 5px 0 0;
    	text-decoration: none;
    	-webkit-border-top-left-radius: 20px;
    	-webkit-border-bottom-left-radius: 20px;
    	-moz-border-radius-topleft: 20px;
    	-moz-border-radius-bottomleft: 20px;
    	border-top-right-radius: 20px;
    	border-top-left-radius: 20px;
    	border-bottom-right-radius: 20px;
    	border-bottom-left-radius: 20px;
    }
    #skill {
    	float: left;
    	margin: 5px;
    }
    /*email form*/
    #form {
    	float: left;
    	width: 100px;
    }
    #footer {
    	height: 50px;
    	padding-top: 3px;
    	padding-left: 10px;
    }
    #top {
    	float: left;
    	width: 100%;
    }
    #footer_content {
    	width: 100%;
    	float: right;
    }
    #validator {
    	float: right;
    	border: 0;
    }
    #copyright_link {
    	float: left;
    }
    .SlidingPanelsContentGroup {
    	position: relative;
    	margin: 0px;
    	padding: 0px;
    	min-height:0;
    	border: none;
    	/*bellow allows content to scroll to right */
    	float: left;
    	width: 1000px;
    }
    .SlidingPanels {
    	float: left;
    }
    .SlidingPanelsContent {
    	float: left;
    	width: 100%;
    	overflow: hidden;
    	margin: 0px;
    	padding: 0;
    	border: none;		/* must match the size of containing element, in this case #spotlight */
    }
    #resume {
    	float: right;
    	font-size: 1em;
      margin: 5px 10px 5px 0;
      color: #5DA038;
    }
    #resume a:visited {
    	color: #5DA038;
    }
}
/* Tablet */
@media screen and (min-width: 40em) and (max-width:61.56em){


    li {
    	font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
    	list-style-type: none;
    }
    p {
    	font-family: Georgia, Serif, Arial, Sans-Serif;
    	font-size: 1em;
    	margin: 10px 10px 20px 10px;
    /*	letter-spacing: 0.02em;*/
    	line-height: 1.3em;
    	/* [disabled]text-align: justify; */
    }
    #container {
    	/*hiddes scrol bar*/
    	overflow: hidden;
    	max-width: 60em; /* 960px / 16 = 60em*/
    	margin: 0 auto;

    }
    #container h1 a img {
    	margin: 2px 0 8px 1px;
    	text-decoration: none;
    }
    #container h1 a {
    	text-decoration: none;
    }
    #logo {
    	margin: 10px 0 10px 1px;
    	width: 100%;
    }
    #image_logo {
    	width: 10%;
    }
    #nav {
    	margin: 0 0 20px 20px;
    	width: 100%;
    	height: 100%;
    	background: no-repeat;
    	line-height: 2em;
    }
    #nav li {
    	float: none;
    	/* [disabled]padding: 1px; */
    	margin: 0;
    	background-repeat:no-repeat;
    	width: 129px;
    	/* [disabled]padding: 30px 0 15px 0; */
    	margin-left: 3px;
    }
    #nav li a {
    /*	color:  #5D9838;
    */	text-decoration: none;
    	color:  #030;
    }
    #nav li a:hover, #nav li a:focus {
    	color: #030;
    	border: 0;
    }
    #wrap_head {
    	background-color: rgb(24, 51, 25);
    }
    #header {
    	height: 50%;
    	width: 100%;
    	float: left;
    	overflow: visible;
    	background-image: url(../images/headertablet.png);
    	border-bottom: 1px;
    	-webkit-box-shadow: 1px 1px 3px #124207;
    	-moz-box-shadow: 1px 1px 3px #124207;
    	-moz-border-radius-topleft: 5px;
    	-moz-border-radius-topright: 5px;
    	-webkit-border-top-left-radius: 5px;
    	-webkit-border-top-right-radius: 5px;
    	box-shadow: 1px 1px 3px #124207;
    	border-top-right-radius: 5px;
    	border-top-left-radius: 5px;
    }
    #welcome {
        font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
        float: left;
        color: #5DA038;
        font-size: 1.25em;
        margin-left: 5px;
    }
    #spotlight {
    	float: right;
    	margin: 0 0 5px 0;
    	width: 346px; /*needs to stay px cant do em*/
    	height: 100%;
    }
    #spotlight a img {
    	border: 2px dotted #46812B;
    }
    #spotlight a:hover img, #spotlight a:focus img {
    	border: 2px dotted #C1E1AF;
    }
    #nav_spotlight {
    	clear: both;
    	float: right;
    	height: 100%;
    	margin: 10px 0 10px -70px;
    }
    .floatleft {
    	font-size: 20px;
    	color: #000;
    	margin: 0 0 0 130px;
    	}
    .floatright {
    	font-size: 20px;
    	color: #000;
    	margin: 0 80px 0 80px;
    	}
    #nav_spotlight a {
    	color: #5D9838;
    	text-decoration: none;
    	overflow: visible;
    }
    #nav_spotlight a:hover, #nav_spotlight a:focus {
    	color: #030;
    }
    #nav_spotlight a:hover span, #nav_spotlight a:focus span {
    	border-bottom: 1px solid #333333;
    }
    #content {
    	overflow: hidden;
    	padding: 10px 15px 10px 15px;
    	-webkit-box-shadow: 1px 1px 3px #124207;
    	-moz-box-shadow: 1px 1px 3px #124207;
    	border-bottom-width: 20px;
    	box-shadow: 1px 1px 3px #124207;
    }
    #text {
    	float: left;
    	width: 100%;
    }
    #personal {
    	width: 100%;
    	float: left;
    }
    #wrap_image {
    	width: 100%;
    	float: left;
    	margin: 1px 0 0 0;
    }
    #wrap_image2 {
    	width: 100%;
    	padding: 10px 0 0 5px;
    	float: right;
    }
    .dwuserEasyRotator {
    	width: 100%;
    	height: 270px;
    	position:relative;
    	text-align: left;
    	margin-bottom: 20px;
    }
    #right a {
    	float: left;
    	width: 25%;
    	height: 295px;
    	-webkit-border-top-left-radius: 20px;
    	-webkit-border-bottom-left-radius: 20px;
    	-moz-border-radius-topleft: 20px;
    	-moz-border-radius-bottomleft: 20px;
    	background-repeat: no-repeat;
    	margin: 4px 5px 0 0;
    	text-decoration: none;
    }
    #skill {
    	float: left;
    	margin: 5px;
    }
    /*email form*/
    #form {
    	float: left;
    	width: 100px;
    }
    #footer {
    	height: 50px;
    	padding-top: 3px;
    	padding-left: 10px;
    }
    #top {
    	float: left;
    	width: 100%;
    }
    #footer_content {
    	width: 100%;
    	float: right;
    }
    #validator {
    	float: right;
    	border: 0;
    }
    #copyright_link {
    	float: left;
    }
    .SlidingPanelsContentGroup {
    	position: relative;
    	margin: 0px;
    	padding: 0px;
    	min-height:0;
    	border: none;
    	/*bellow allows content to scroll to right */
    	float: left;
    	width: 1000px;
    }
    .SlidingPanels {
    	float: left;
    }
    .SlidingPanelsContent {
    	float: left;
    	width: 100%;
    	overflow: hidden;
    	margin: 0px;
    	padding: 0;
    	border: none;		/* must match the size of containing element, in this case #spotlight */
    }
    #resume {
    	float: right;
    	font-size: 1em;
      margin: 5px 10px 5px 0;
      color: #5DA038;
      float:none;
    }
    #resume a:visited {
    	color: #5DA038;
    }

}

/* Desktop */
@media only screen and (min-width:61.56em){

    body {
    	font: 100% PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
    	line-height: 100%;
    	background-color: #94D76F;
    	/* Enables window scroll, content inconsistent in length allows browsing from one page to another to be smooth by not popping up the scroll*/
    	overflow: scroll;
    }
    #container {
    	max-width: 60em; /* 960px / 16 = 60em*/
    	margin: 0 auto;
    }
    #logo {
    	margin: 10px 0 6px 1px;
    }
    #logo a img {
    	margin: 3px 0 0 0;
    	border: 0;
    	text-decoration: none;
    }
    #nav {
    	list-style: none;
    	overflow: hidden;
    	margin: -61px auto 3px auto;
    }
    #nav li {
    	/*margin-left: 435px;*/
      margin-left: 565px;
    	width: 13.43%; /* 129px / 960 = 0.1344 */
    	float: left;
    	padding: 18px 0 15px 0;
    	background: url(../images/menu2.png);
    	text-align: center;
    	font-size: 1.125em;
    }
    #nav li a {
    	color: #030;
    	text-decoration: none;
    }
    #nav li a:hover, #nav li a:focus {
    	color: #FCD7BB;
    	border: 0;
    }
    #header {
    	overflow: hidden;
    	width: 100%;
    	border-bottom: 1px;
    	background-image: url(../images/header4.png);
    	background-repeat: no-repeat;
    	-webkit-box-shadow: 1px 1px 3px #124207;
    	-moz-box-shadow: 1px 1px 3px #124207;
    	-moz-border-radius-topleft: 5px;
    	-moz-border-radius-topright: 5px;
    	-webkit-border-top-left-radius: 5px;
    	-webkit-border-top-right-radius: 5px;
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    	box-shadow: 1px 1px 3px #124207;
    }
    #welcome {
    	font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
        float: left;
        width: 43.75%; /* 420px / 960 =  */
        color: #5DA038;
        font-size: 1.25em;
        padding: 60px 0 0 10px;
    }
    #resume {
    	float: right;
    	font-size: 1.5em;
    	margin: 25px 29px 0 0;
      color: #5DA038;
    }
    #resume a:visited {
    	color: #5DA038;
    }
    #spotlight {
        float: right;
        width: 346px;
        height: 100%;
        margin: 25px 25px 0 0;
    }
    #spotlight a img {
    	border: 2px dotted #46812B;
    }
    #spotlight a:hover img, #spotlight a:focus img {
    	border: 2px dotted #C1E1AF;
    }
    #nav_spotlight {
    	clear: both;
    	float: right;
    	width: 15%;
    	overflow: hidden;
    	margin: 10px 120px 20px 0;
    }
    #nav_spotlight li {
    	font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
    	font-size: 1.25em;
    	color: #000;
    	margin: 0 80px 0 80px;
    	list-style-type: none;
    	}
    #nav_spotlight a {
    	color: #5D9838;
    	text-decoration: none;
    }
    #nav_spotlight a:hover {
    	color: #FCD7BB;
    }
    #nav_spotlight a:hover span, #nav_spotlight a:focus span {
    	border-bottom: 1px solid #333333;
    }
    .floatright {
    	float: right;
    }
    .floatleft {
    	float: left;
    }
    #content {
    	/*if issues with seeing content float left*/
    	overflow: hidden;
    	padding: 15px 10px 10px 10px;
    	-webkit-box-shadow: 1px 1px 3px #124207;
    	-moz-box-shadow: 1px 1px 3px #124207;
    	box-shadow: 1px 1px 3px #124207;
    	border-bottom-width: 20px;
    }
    #text {
    	float: left;
    	width: 50%;
    }
    #personal {
    	width: 50.52%;
    	float: left;
    }
    #wrap_image {
    	width: 50%;
    	float: left;
    }
    .dwuserEasyRotator {
    	width: 100%;
    	height: 390px;
    	position:relative;
    	text-align: left;
    	margin-bottom: 20px;
    }
    #right a {
    	float: left;
    	width: 49%;
    	height: 295px;
    	-webkit-border-top-left-radius: 20px;
    	-webkit-border-bottom-left-radius: 20px;
    	-moz-border-radius-topleft: 20px;
    	-moz-border-radius-bottomleft: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    	background-repeat: no-repeat;
    	margin: 24px 5px 0 0;
    	text-decoration: none;
    }
    #skill {
    	width: 48%;
    	float: right;
    }
    a:link {
    	text-decoration: none;
    	color: #124207;
    }
    a:visited {
    	color: #2F631C;
    	text-decoration: none;
    }
    a:active {
    	text-decoration: none;
    }
    #footer {
    	padding-top: 3px;
    	padding-left: 10px;
    }
    #top {
    	float: left;
    	width: 8.3%;
    }
    #footer_content {
    	float: right;
    	margin: 0;
    	width: 45.83%;
    }
    #copyright_link {
    	float: left;
    }
    #welcome p {
    	font-family: PeignotLTStdBold, Georgia, Serif, Arial, Sans-Serif;
    	float: left;
    	color: #5DA038;
    	font-size: 0.875em;
    }
    h1 {
    	font-size: 1.125em; /* 18px / 16 = 1.125em */
    	margin: 10px 0 10px 0;
    }
    h2 {
    	font-size: 1.25em;
    }
    h3 {
    	font: 1.31em;
    	color: #030;
    	margin: 0 0 5px 0;
    }
    p {
    	font-family: Georgia, Serif, Arial, Sans-Serif;
    	font-size: 0.875em;
    	margin: 10px 10px 10px 10px;
    	line-height: 1.5em;
    }
    #https_error {
    	color: #5DA038;
    	font-size: 1.875em;
    }
    #wrap_image2 {
    	height: 170px;
    	width: 300px;
    	padding: 10px 0 5px 10px;
    	float: right;
    	margin: 90px -10px 0 0;
    }


}
